* {
  font-family: "Roboto Mono", monospace;
  color: #848683;
  /* revert bg back to white? */
  background-color: #ffffff;
}
/*     color: #152825; */

body {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

/* HEADER */

/* .phonetic{
   color: #7fd8be;
   font-size: 55px;
   font-weight: 600;
   text-align: center;
   padding: 100px 0px 0px 0px;
   letter-spacing: 1px;
  } */

.full-name {
  /* color: #E8EBEC; */
  color: #FF8370;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  padding: 80px 0px 0px 0px;
  letter-spacing: 1px;
}

.heading {
  /* color: #E8EBEC; */
  color: #FF8370;
  font-size: 30px;
  font-weight: 600;
  /*    text-align: center; */
  padding: 40px 0px 0px 0px;
  letter-spacing: 1px;
}

.project-heading {
  /* color: #E8EBEC; */
  color: #47d7c3;
  font-size: 20px;
  font-weight: 600;
  /*    text-align: center; */
  padding: 40px 0px 0px 0px;
  letter-spacing: 1px;
}
.background-info {
  text-align: center;
  padding: 20px;
}
nav ul {
  background: #ffffff;
  opacity: 0.5;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 0;
  padding: 20px;
  margin: 0;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

nav li {
  display: inline-block;
  border-bottom: 0px;
}

nav ul li a {
  text-decoration: none;
  margin: 0px;
  font-weight: 600;
}

li:hover a {
  color: #47d7c3;
}

li:hover .active {
  color: #CBCAC9;
}

.active {
  color: #CBCAC9;
}
a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #0E1B19;
  font-weight: 600;
}

a:hover {
  color: #47d7c3;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 25x;
  /*   color: #152825; */
}

/* CONTENT */

/*   .dim {
    opacity: 1;
    transition: opacity .15s ease-in;
  }
  .dim:hover,
  .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
  } */

.main-content {
  flex: 1 0 auto;
  min-height: 100%;
  width: 100%;
  position: relative;
}

.container {
  margin: 4% auto;
  width: 90%;
  max-width: 1000px;
}

/*   	.main-content > div > div{
  		width:30%;
  		margin-right:5%;
  		padding-top:30%;
  		background-color: #fcefef;
  		float:left;
  		margin-bottom:30px;
  	}
  	.main-content > div > div:nth-child(3n){
  		margin-right:0;

  	} */

@media only screen and (max-width: 768px) {
  /*   		.main-content > div > div{
  			width:47.5%;
  			padding-top:47.5%;
  		}
  		.main-content > div > div:nth-child(3n){
  			margin-right:5%;
  		}
  		.main-content > div > div:nth-child(2n){
  			margin-right:0%;
  		} */

  /*   		.phonetic{
  			font-size: 35px;
  		} */

  .full-name {
    font-size: 35px;
  }

  .heading {
    font-size: 35px;
  }
}
@media only screen and (max-width: 590px) {
  /*   		.main-content > div > div{
  			width:100%;
  			padding-top:100%;
  			margin-right:0%;
  		}

  		.main-content > div > div:nth-child(3n){
  			margin-right:0%;
  		} */

  .full-name {
    font-size: 30px;
  }

  .heading {
    font-size: 30px;
  }
}

/* FOOTER */

.footer {
  font-size: 12px;
  flex-shrink: 0;
  padding: 20px;
  margin-top: 2%;
  background: #ffffff;
  text-align: center;
}
