* {
  font-family: "Overpass Mono", monospace;
  color: #848683;
  background-color: #FFFCF9;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  /* cursor: url("assets/cursors.png"), auto; */
}

/* HEADER */

.phonetic {
  color: #FF6978;
  /* letter-spacing: 1px; */
}

.name {
  font-family: "Overpass Mono", monospace;
}

.full-name {
  color: #FF6978;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  padding: 80px 0px 0px 0px;
  letter-spacing: 1px;
}

.heading {
  color: #FF6978;
  font-size: 35px;
  padding: 40px 0px 0px 0px;
  letter-spacing: 1px;
  font-weight: 600;
}

.project-heading {
  color: #47d7c3;
  font-size: 35px;
  padding: 20px 0px 20px 0px;
  letter-spacing: 1px;
}

nav ul {
  background: #FF6978;
  opacity: 0.5;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 20px;
  margin: 0;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.mmhr {
  color: #47d7c3;
}

.links {
  justify-content: space-evenly;
  display: flex;
  padding: 0 45px 0 0;
  /*     right:10px; */
}

.contact {
  padding-left: 20px;
}

nav li {
  display: inline-block;
  border-bottom: 0px;
}

nav ul li a {
  text-decoration: none;
  margin: 0px;
  font-family: "Roboto Mono", monospace;
}

li:hover a {
  text-decoration: none;
  color: #47d7c3;
}

/* li:hover .active {
  color: #CBCAC9;
}

.active {
  color: #CBCAC9;
} */

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #0E1B19;
  font-weight: 500;
}

a:hover {
  color: #47d7c3;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 25x;
  padding: 10px 0px 10px 0px;
  /*   color: #152825; */
}

/* section {
  background-color: #FF6978;
  width:100%;
  opacity: 0.5;
} */
/* CONT
ENT */

/*   .dim {
    opacity: 1;
    transition: opacity .15s ease-in;
  }
  .dim:hover,
  .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
  } */

.main-content {
  flex: 1 0 auto;
  min-height: 100%;
  width: 100%;
  position: relative;
}

.container {
  margin: 4% auto;
  width: 90%;
  max-width: 1000px;
}

.image {
  /*   width: 20px; */
  padding-top: 2%;
}

.image-project {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 25px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 25px;
}


/*   	.main-content > div > div{
  		width:30%;
  		margin-right:5%;
  		padding-top:30%;
  		background-color: #fcefef;
  		float:left;
  		margin-bottom:30px;
  	}
  	.main-content > div > div:nth-child(3n){
  		margin-right:0;

  	} */

@media only screen and (max-width: 768px) {
  /*   		.main-content > div > div{
  			width:47.5%;
  			padding-top:47.5%;
  		}
  		.main-content > div > div:nth-child(3n){
  			margin-right:5%;
  		}
  		.main-content > div > div:nth-child(2n){
  			margin-right:0%;
  		} */

  /*   		.phonetic{
  			font-size: 35px;
  		} */

  .full-name {
    font-size: 35px;
  }

  .heading {
    font-size: 35px;
  }
}
@media only screen and (max-width: 590px) {
  /*   		.main-content > div > div{
  			width:100%;
  			padding-top:100%;
  			margin-right:0%;
  		}

  		.main-content > div > div:nth-child(3n){
  			margin-right:0%;
  		} */

  .full-name {
    font-size: 30px;
  }

  .heading {
    font-size: 30px;
  }

  p {
    font-size: 15px;
  }
  img {
    padding-bottom: 10px;
  }
}

/* FOOTER */

.footer {
  font-size: 12px;
  flex-shrink: 0;
  padding: 20px;
  margin-top: 2%;
  background: #FFFCF9;
  text-align: center;
}
