* {
  font-family: "Overpass Mono", monospace;
  color: rgba(55, 53, 75, .2);
  overflow: hidden;

}

body {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  line-height: 1.5;

  background-color: #79E2D4;
  color: #ffffff;

  padding: 0px;
  margin: 0px;
  cursor: url("assets/cursors.png"), auto;
}

.main-content {
  flex: 1 0 auto;
  min-height: 100%;
  width: 100%;
  position: relative;
}

#container {
  /* padding: 100px 0px 0px 0px; */
  display: block;
  margin: 4% auto;
  width: 80vw;
  height: 80vh;
  max-width: 1000px;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img {
  position: absolute;
  width: 80%;
  max-width: 100%;
  /* object-fit: scale-down; */
  animation: fadein 0.5s;
}

img:hover {
  z-index:1
}

/* HEADER */
.phonetic {
  color: #FF6978;
}

.name {
  font-weight: 600;
  color: #DEF8F4;
}

nav ul {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 20px;
  margin: 0;
  top: 0px;
  width: 100%;
  z-index: 3000;
}

.mmhr {
  color: #FF6978;
}

.links {
  justify-content: space-evenly;
  display: flex;
  padding: 0 45px 0 0;
}

.contact {
  padding-left: 40px;
}

nav li {
  display: inline-block;
  border-bottom: 0px;
  font-family: "Overpass Mono", monospace;
  color: #FF5C6C;
}

nav ul li a {
  text-decoration: none;
  margin: 0px;
  font-family: "Overpass Mono", monospace;
  color: #FF5C6C;
}

li:hover a {
  text-decoration: none;
  color: #DEF8F4;
}

li:hover {
  text-decoration: none;
  color: #DEF8F4;
}

a:hover {
  color: #DEF8F4;
}

#about-block {
position: absolute;

top:0;
bottom: 0;
left: 0;
right: 0;
margin: auto;

padding: 20px;
z-index: 2000;
max-width: 100%;
height:100%;
overflow: scroll;

background-color:rgba(46, 49, 56, .8);
animation: fadein 0.5s;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  color: #DEF8F4;
}
.about-text {
  padding:100px;
}

svg {
  fill: #FF5C6C;
  position: relative;
  z-index: 4000;
  /* pointer-events:none; */
}
svg:hover {
  fill: #DEF8F4;
}

.nav-svgs {
  width:50px;
  padding-left:10px;
  fill: #FF5C6C;
}

#svg-holder {
  position:fixed;
  left: 0;
  bottom: 0;
  padding-bottom:8px;
  padding-left: 10px;
  z-index: 3000;
}

/* FOOTER */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

@media only screen and (max-width: 768px) {

    		.phonetic{
  			font-size:30px;
  		}

      p {
        font-size: 30px;
      }
}

@media only screen and (max-width: 590px) {

  img {
    width: 100%;
    max-width: 100%;
    /* object-fit: scale-down;*/
  }
  .phonetic{
  font-size:15px;
}
  body {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .about-text {
    padding:45px;
  }
   #about-block{
     padding-top:60px;
   }

  .nav-svgs {
    width:30px;
    padding-left:5px;
  }
  .footer {
    font-size: 10px;
    text-align: right;
    width: 50%;
    padding-left: 45%;
  }
}
